#controls {
    /* Appearance   #3caa07 */
    background-color: white;
    padding: 0 20px 20px 20px;
    cursor: move;
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    zoom: 0.8;
    /* Fade out while not hovering 
     opacity: 0.95;
    zoom: 0.9;
   transition: opacity 500ms 1s;
   */
  }

  #controls:hover {
    /* Fade in while hovering 
    opacity: 0.65;
    transition-delay: 0;
    */
  }

  h2{
    color: rgb(14, 14, 14);
    font-weight: bold;
  
  }

  #x {
          font-size: 20px;
          color: #00203b;
          font-weight: bold;
  }

  #footer {
    background-color: #00203b;
  }
  #h{
    background-color: #081928;
    color: #17815e;
  }

  /* If not using map tiles, show a white background */
.leaflet-container {
  background-color: white !important;
}
input[type="number"] {
  max-width: 80%;
}

div.outer {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0%;
}

/* Position and style citation */
#cite {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  color: #00203b;
}